{% extends "layout.html" %}

{% block pageTitle %}
  SP date in future
{% endblock %}

{% set serviceName %}
Check what support you could get in retirement
{% endset%}
{% block beforeContent %}
  <a class="govuk-back-link" href="pension_age_partner">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <!--This page is if a user is more than 4 months away from their SP date-->
     
     <h1 class="govuk-heading-xl">
      Support you could get at State Pension age</h1> 
       <p>You reach State Pension age on <b>6 July 2022</b></p>
       <p>On this date you'll be <b>65 years old.</p>
       <h2 class="govuk-heading-m">State Pension</h2>
       <p>We'll send you a letter up to 2 months before this date telling you how to claim your State Pension.</p>
      
       <p>You can also <a href="/url/of/onward/page">check your State Pension</a> to find out how much you could get.</p>
       
       <h2 class="govuk-heading-m">Free bus pass</h2>
        <p>When you reach State Pension age you can get apply to get a bus pass for free travel in England.</p>
        <p><a href="">More on the free bus pass</a></p>
        <h2 class="govuk-heading-m">Winter Fuel Payment</h2>
      <p>When you reach State Pension age if you live with your partner you could get a Winter Fuel Payment of</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>£100 every year, or</li>
          <li>£200 every year if your partner
            doesn't qualify for Winter Fuel or they're on certain benefits</li>
            </ul>
        </p>
        <p>You get these automatically if you're getting State Pension.</p>
        <p><a href="">More on Winter Fuel Payment</a></p>
        <h2 class="govuk-heading-m">Pension Credit </h2>
        <p>When you reach State Pension age if you live with your partner you could get Pension Credit 
       to top up your State Pension to £255.25 a week.
          <p>
         To qualify, your partner must have also have reached State Pension age. Or
         one of you is over State Pension age and getting Housing Benefit.</p>
         

          <p>How much Pension Credit you get depends on:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>your joint income being less than £255.55 a week</li>
          <li>the amount in savings and property you have</li>
          <li>if you have a disability</li>
          <li>if you're a carer</li>
          </ul>
          <p>If you’re eligible, Pension Credit could also help you get other benefits too. For example, reduced Council Tax, Housing Benefit to help pay your rent and free prescriptions.</p>
         <p>You have to claim Pension Credit. </p>
   

          <p><a href="">More on Pension Credit</a></p>
          <h2 class="govuk-heading-m">Email this summary to you</h2>
          <div class="govuk-form-group">
            <label class="govuk-label" for="width-20">
              Enter email address
            </label>
            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
          </div>
          <p><a href="pension_age_confirmed" class="govuk-button">Continue</a></p>
       
        <p><a href="pension_age_start">Start again</a></p>


    </div>
  </div>

{% endblock %}
