{% extends "layout.html" %}

{% block pageTitle %}
  SP date in future
{% endblock %}

{% set serviceName %}
Find out what support you could get in retirement
{% endset%}
{% block beforeContent %}
  <a class="govuk-back-link" href="pension_age_dob">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <!--This page is if a user is more than 4 months away from their SP date-->
     
     <h1 class="govuk-heading-xl">
      You can get your State Pension now
         </h1>
         <p>You reached State Pension age on <strong>6 November 2018</strong>, when you turned <strong>66</strong>.</p>
   
         <h2 class="govuk-heading-l">If you haven't claimed your State Pension</h2>
         
         <p>Because you have reached State Pension age, you can choose to either:</p>
         <ul class="govuk-list govuk-list--bullet">
             <li>make a claim to <a href="https://www.gov.uk/get-state-pension">get your State Pension</a></li>
             <li><a href="https://www.gov.uk/deferring-state-pension">delay getting your State Pension</a> - you may get 
               more State Pension when you claim it</li>
         
         </ul>
   
         <h2 class="govuk-heading-l">What else you could get</h2>
         <p>To check what else you are entitled to in retirement you'll need your National Insurance number.</p>
   
   <p><a href="eligibility_start" class="govuk-button">Continue</a></p>

    </div>
  </div>

{% endblock %}
