<div id="global-cookie-message" class="gem-c-cookie-banner govuk-clearfix" data-module="cookie-banner" role="region" aria-label="cookie banner" data-nosnippet="" style="display: block;">
    <div class="gem-c-cookie-banner__wrapper govuk-width-container">
      <div class="govuk-grid-row">
        <div class=" govuk-grid-column-two-thirds">
            <div id="cookie-message">
          <div class="gem-c-cookie-banner__message">
            <span class="govuk-heading-m">Tell us if you accept analytics cookies</span>
            <p class="govuk-body">We use <a class="govuk-link" href="cookie_policy">cookies to collect information</a> about how you use this service. We use analytics cookies to improve the service.</p>
          </div>
          <div class="gem-c-cookie-banner__buttons">
         
  
    <button id="show-accept" class="gem-c-button govuk-button gem-c-button--inline gem-c-button-left" type="submit" data-module="track-click" data-accept-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner accepted">Accept analytics cookies</button>
  
  
   
              
  
  
    <button id="show-reject" class="gem-c-button govuk-button gem-c-button--inline" ype="submit" data-module="track-click" data-accept-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner accepted">Reject analytics cookies</button>
  
  
          </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id="cookie-confirm" class="gem-c-cookie-banner__confirmation govuk-width-container" tabindex="-1" style="display: none" style="padding-top: 20px">
      <p class="gem-c-cookie-banner__confirmation-message">
        You’ve accepted analytics cookies. You can <a class="govuk-link" href="cookie_policy" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation">change your cookie settings</a> at any time.
      </p>
      <button id="hide-accept" class="gem-c-cookie-banner__hide-button" data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner">Hide</button>
    </div>
    <div id="cookie-reject" class="gem-c-cookie-banner__confirmation govuk-width-container" tabindex="-1" style="display: none" style="padding-top: 20px">
      <p class="gem-c-cookie-banner__confirmation-message">
        You’ve rejected analytics cookies. You can <a class="govuk-link" href="cookie_policy" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation">change your cookie settings</a> at any time.
      </p>
      <button id="hide-reject" class="gem-c-cookie-banner__hide-button" data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner">Hide</button>
    </div>
    </div>
  </div>
  </div>