{% extends "layout_unbranded.html" %}

{% block pageTitle %}
CAM
{% endblock %}

{% set serviceName %}
  Check your State Pension age
{% endset%}
{% block beforeContent %}
 
{% endblock %}

{% block content %}

  
    <div class="cam2">
    
      <div style="float: left; width:318px; margin-top: 316px; margin-left: 80px; display: block; clear: both"><button onclick="window.location.href='cam_3'" style="background-color: #ccc; border-color: black; font-size: 0.6em; padding:2px">Inbound Security Questions</button></div>
    
    </div>


    
 

{% endblock %}
