{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  CAM
{% endblock %}

{% set serviceName %}
  Check your State Pension age
{% endset%}
{% block beforeContent %}
 
{% endblock %}

{% block content %}

  
    <div class="cam1">
      <div style="float: right; width:267px; margin-top: 325px; display: block; clear: both"> 
        <input type="text" name="fname" style="width: 115px">  
      </div> 
      <div style="float: right; width:267px; margin-top: 280px; display: block; clear: both"><button onclick="window.location.href='cam_2'" style="background-color: #ccc; border-color: black">Go</button></div>
    
    </div>

{% endblock %}
