{% extends "layout_unbranded.html" %}

{% block pageTitle %}
CAM
{% endblock %}

{% set serviceName %}
  Check your State Pension age
{% endset%}
{% block beforeContent %}
 
{% endblock %}

{% block content %}

<div class="cam9">
        <div style="float: left; width:800px; margin-top:560px; margin-left: 80px; display: block; clear: both"><button onclick="window.location.href='cam_9'" style="background-color: #ccc; border-color: black; font-size: 0.6em">Earliest Entitlement Date</button></div>
    <div style="float: left; width:800px; margin-top: 15px; margin-left: 650px; display: block; clear: both"> 
        <input type="text" name="fname" style="width: 100px">  
      </div> 
    
    


</div>            
        
    


    
 

{% endblock %}
