{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  SP date in future
{% endblock %}

{% set serviceName %}
  Check your State Pension age
{% endset%}
{% block beforeContent %}
 
{% endblock %}

{% block content %}

<div class="cam5">
        <div style="float: left; width:600px; margin-top: 418px; margin-left: 260px; display: block; clear: both"><input type="radio" name="gender" value="male"> <br>
            <input type="radio" name="gender" value="female"> <br>
        </div>
        <div style="float: left; width:600px; margin-top: 55px; margin-left: 260px; display: block; clear: both"><input type="radio" name="gender2" value="male"> <br>
            <input type="radio" name="gender2" value="female"> <br>
        </div>
        <div style="float: left; width:600px; margin-top: 168px; margin-left: 260px; display: block; clear: both"><input type="radio" name="gender3" value="male"> <br>
            <input type="radio" name="gender3" value="female"> <br>
        </div>
            
              <div style="float: left; width:600px; margin-top: 23px; margin-left: 253px; display: block; clear: both"><button onclick="window.location.href='cam_6'" style="background-color: #ccc; border-color: black; font-size: 0.6em">Next</button></div>
            
            </div>
        
    


    
 

{% endblock %}
