{% extends "layout_unbranded.html" %}

{% block pageTitle %}
CAM
{% endblock %}

{% set serviceName %}
  Check your State Pension age
{% endset%}
{% block beforeContent %}
 
{% endblock %}

{% block content %}

  
<div class="cam4">
    <div style="float: left; width:600px; margin-top: 467px; margin-left: 260px; display: block; clear: both"><input type="radio" name="gender" value="male"> <br>
        <input type="radio" name="gender" value="female"> <br>
    </div>
    
        
          <div style="float: left; width:600px; margin-top: 25px; margin-left: 260px; display: block; clear: both"><button onclick="window.location.href='cam_5'" style="background-color: #ccc; border-color: black; font-size: 0.6em">Next</button></div>
        
        </div>

    
 

{% endblock %}
