{% extends "layout_unbranded.html" %}

{% block pageTitle %}
CAM
{% endblock %}

{% set serviceName %}
  Check your State Pension age
{% endset%}
{% block beforeContent %}
 
{% endblock %}

{% block content %}

<div class="cam6">
       
              <div style="float: left; width:600px; margin-top: 424px; margin-left: 345px; display: block; clear: both"><button onclick="window.location.href='cam_7'" style="background-color: #ccc; border-color: black; font-size: 0.6em">Finish</button></div>
            
            </div>
        
    


    
 

{% endblock %}
