{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Searchlight
{% endblock %}

{% set serviceName %}
  Check your State Pension age
{% endset%}
{% block beforeContent %}
 
{% endblock %}

{% block content %}

  
    <div class="searchlight1">
      
      <div style="float: left; width:800px; margin-top: 393px; margin-left: 15px; display: block; clear: both"> 
        <input type="text" name="fname" style="width: 550px; height: 50px; font-size:24px">  <button onclick="window.location.href='searchlight_personal'" style="background-color: #000; border-color: black; height: 60px; width:60px; font-size: 0.6em; color: #fff; font-size: 22px">GO</button>
      </div> 
      <div style="float: right; width:267px; margin-top: 280px; display: block; clear: both"></div>
    
    </div>

{% endblock %}
