{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Searchlight
{% endblock %}

{% set serviceName %}
  Check your State Pension age
{% endset%}
{% block beforeContent %}
 
{% endblock %}

{% block content %}

  
    <div class="searchlight3">
      <img src="/public/images/searchlight_benefits_sp.png" usemap="#image-map" style="margin-top:200px">

<map name="image-map">
        <area target="" alt="home" title="home" href="searchlight1" coords="24,16,296,64" shape="rect">
    <area target="" alt="Benefits" title="Benefits" href="searchlight_benefits" coords="563,138,8,72" shape="rect">
</map>
</map>
     
    </div>

{% endblock %}
