@import "node_modules/govuk-frontend/settings/all";
$govuk-global-styles: true;

// Override the govuk-frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Remove canvas background colour, as is used with the GOV.UK Footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "node_modules/govuk-frontend/all";

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/docs/examples/blank-unbranded

.cam1 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam1.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 650px;

  }

  .cam2 {
    margin: -200px 0 0 -150px;
    background:
      url(/public/images/cam2.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 850px;

  }

  .cam3 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam3.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 830px;

  }

  .cam4 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam4.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 830px;

  }

  .cam5 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam5.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 830px;

  }

  .cam6 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam6.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 830px;

  }

  .cam7 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam7.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 830px;

  }

  .cam8 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam8.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 830px;

  }

  .cam9 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam9.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 830px;

  }


  .cams1 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam-s1.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 830px;

  }

  .cams2 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam-s2.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 830px;

  }

  .cams3 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam-s3.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 830px;

  }

  .cams4 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam-s4.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 830px;

  }

  .cams5 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam-s5.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 830px;

  }

  .cams6 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam-s6.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 830px;

  }


  .cams7 {
    margin: -180px 0 0 -150px;
    background:
      url(/public/images/cam-s7.png) bottom center no-repeat;
      background-size: contain;
      width: 1280px;
      height: 830px;

  }

  .searchlight1 {
    margin: -220px 0 0 -150px;
    background:
      url(/public/images/search_light1.png) bottom center no-repeat;
      background-size: contain;
      width: 1300px;
      height: 1300px;

  }

  .searchlight2 {
    margin: -220px 0 0 -150px;
      width: 1300px;
      height: 1000px;

  }

  .searchlight3 {
    margin: -220px 0 0 -150px;
    width: 1300px;
    height: 1000px;

  }