{% extends "layout.html" %}

{% block pageTitle %}
Eligibility - Pension Credit
{% endblock %}


{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">State Pension</a>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Pension Credit
    </h1>
    <aside class="part-navigation-container" role="complementary">
      <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link" href="overview">Overview</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link">Eligibility</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link" href="what_youll_get">What you'll get</a>
          </li>

          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link" href="overview">How to claim</a>
          </li>


          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link" href="report">Report a change of circumstances</a>
          </li>



        </ol>
      </nav>

    </aside>






  </div>

  <div class="govuk-grid-column-one-third">


  </div>
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Eligibility</h2>
    <p>To qualify for Pension Credit:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you must live in England, Scotland or Wales</li>
      <li>you or your partner must have reached <a href="/eligibility/pension_age_start">State Pension age</a> </li>
    </ul>
    <p>
      Your partner is your husband, wife or civil partner (if you live with them) or someone else you live with as if
      you were married. </p>




    <div class="govuk-inset-text">
      <p>You can read about <a href="https://www.nidirect.gov.uk/articles/understanding-pension-credit">Pension Credit
          in Northern Ireland.</a></p>
    </div>

    <h2 class="govuk-heading-m">Changes to Pension Credit eligibility</h2>
    <p>From 15 May 2019, if you’re in a couple you’ll only be eligible to start getting Pension Credit if either:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you and your partner have both reached State Pension age</li>
      <li>one of you is getting <a href="https://www.gov.uk/housing-benefit">Housing Benefit</a> for people over State
        Pension age</li>
    </ul>
    <p>If you’re not already getting Pension Credit on 14 May 2019, you can backdate your claim. You could still be
      eligible to get Pension Credit.</p>
    <p>You can ask for your claim to be backdated to 14 May or before. You’ll need to apply by 13 August 2019 to do
      this.</p>
    <p>You can apply for <a href="https://www.gov.uk/universal-credit">Universal Credit</a> instead if you’re still not
      eligible.</p>
    <h2 class="govuk-heading-s">If you already get Pension Credit and you’re in a couple</h2>
    <p>You’ll continue to get Pension Credit after 15 May 2019. If your entitlement stops for any reason, for example
      your circumstances change, you cannot start getting it again until you (or your partner) are eligible under the
      new rules.</p>
    <h2 class="govuk-heading-s">If you already get Pension Credit and you’re single</h2>
    <p>From 15 May 2019, you’ll stop getting Pension Credit if you start living with a partner who is under State
      Pension age. You can start getting it again when your partner reaches State Pension age.</p>

    <h2 class="govuk-heading-m">Savings Credit</h2>
    <p>You can only start getting Savings Credit if you (and your partner, if you have one) reached <a
        href="/eligibility/pension_age_start">State Pension age</a> before 6 April 2016.</p>

    <h3 class="govuk-heading-s"> If your partner did not reach State Pension age before 6 April 2016</h3>
    <p>If you’ve been getting Savings Credit since before 6 April 2016, you’ll continue to get it as long as there are
      no breaks in your entitlement.</p>

    <p>If you stop being eligible for Savings Credit for any reason, you will not be able to get it again.</p>
    <h3 class="govuk-heading-s">Working out your income</h3>
    <p>When you apply for Pension Credit your income is worked out. This includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>State Pension</li>
      <li>other pensions
      </li>
      <li>most social security benefits, for example Carer’s Allowance
      </li>
      <li>savings, investments over £10,000 - for these £1 is counted for every £500 or part £500</li>
      <li>earnings</li>
    </ul>
    <p>If you’re entitled to a private or workplace pension, the amount you’d expect to get is calculated as income from
      the date you were able to get it, if you had claimed it.</p>
    <p>You will not get the benefit of deferring your State Pension if you or your partner are on Pension Credit, for
      example you will not build up extra State Pension or a lump sum for <a
        href="https://www.gov.uk/deferring-state-pension">deferring your State Pension</a>. When working out if you can
      get Pension Credit, the income you’d get from your State Pension is included whether you’re claiming it or not.
    </p>
    <p>The calculation does not include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Attendance Allowance






      <li>Christmas Bonus
      </li>
      <li> Disability Living Allowance</li>
      <li>earnings</li>
      <li>Personal Independence Payment
      </li>
      <li>Housing Benefit
      </li>
      <li> Council Tax Reduction</li>
      </li>
    </ul>
    <p>If you’re registered for <a href="">Self Assessment</a>, you must tell the Pension Service how much <a
        href="">Income Tax</a> you expect to pay for the current tax year - this affects how much Pension Credit you’ll
      get.</p>

    <h2 class="govuk-heading-m">Pension Credit if you leave Great Britain</h2>
    <p>Your entitlement to Pension Credit may be affected if you leave Great Britain (England, Scotland and Wales) for
      any period of time. Call the helpline before you go.</p>

    <p> You cannot get Pension Credit if you leave Great Britain permanently.</p>
    <div class="govuk-inset-text">
      <p><strong>Pension Service helpline</strong><br>
        Telephone: 0800 731 0469<br>
        Textphone: 0800 169 0133<br>
        NGT text relay (if you cannot hear or speak on the phone): 18001 then 0800 731 0469<br>
        Monday to Friday, 8am to 6pm<br>
        <a href="/call-charges">Find out about call charges</a></p>
    </div>
    <div class="pagination">
      <a href="overview" class="gem-c-pagination__link" rel="prev">
        <span class="gem-c-pagination__link-title">
          <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
            viewBox="0 0 17 13">
            <path fill="currentColor"
              d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
            </path>
          </svg>
          <span class="gem-c-pagination__link-text">
            Previous
          </span>
        </span>
        <span class="gem-c-pagination__link-divider visually-hidden">:</span>
        <span class="gem-c-pagination__link-label">Overview</span>
      </a>

    </div>
    <div class="pagination">
      <a href="what_youll_get" class="gem-c-pagination__link" rel="next">
        <span class="gem-c-pagination__link-title">
          <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
            viewBox="0 0 17 13">
            <path fill="currentColor"
              d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
            </path>
          </svg>
          <span class="gem-c-pagination__link-text">
            Next
          </span>
        </span>
        <span class="gem-c-pagination__link-divider visually-hidden">:</span>
        <span class="gem-c-pagination__link-label">What you'll get</span>
      </a>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/related_links.html" %}
  </div>

</div>
{% include "includes/sp_topic.html" %}
{% endblock %}