{% extends "layout.html" %}

{% block pageTitle %}
Pension Credit
{% endblock %}


{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">State Pension</a>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Pension Credit
    </h1>
    <aside class="part-navigation-container" role="complementary">
      <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__link"">
              <a class=" gem-c-contents-list__link"> Overview</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link" href="eligibility">Eligibility</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link" href="what_youll_get">What you'll get</a>
          </li>

          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link" href="claim">How to claim</a>
          </li>


          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link" href="report">Report a change of circumstances</a>
          </li>




        </ol>
      </nav>

    </aside>






  </div>

  <div class="govuk-grid-column-one-third">


  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Overview</h2>



    <p>Pension Credit is an income-related benefit made up of 2 parts - Guarantee Credit and Savings Credit.</p>

    <p>Guarantee Credit tops up your weekly income if it’s below £167.25 (for single people) or £255.25 (for couples).
    </p>
    <p>Savings Credit is an extra payment for people who saved some money towards their retirement, for example a
      pension.</p>
    <div class="govuk-inset-text">
      <p>You may not be <a href="eligibility">eligible for Savings Credit</a> if you reached <a
          href="/eligibility/pension_age_start">State Pension age</a> on or after 6 April 2016.</p>
    </div>
    <p>You do not pay tax on Pension Credit.</p>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Use the <a href="https://www.gov.uk/pension-credit-calculator">Pension Credit</a> calculator to work out how
        much you might get.

      </strong>
    </div>

    <div class="pagination">
      <a href="eligibility" class="gem-c-pagination__link" rel="next">
        <span class="gem-c-pagination__link-title">
          <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
            viewBox="0 0 17 13">
            <path fill="currentColor"
              d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
            </path>
          </svg>
          <span class="gem-c-pagination__link-text">
            Next
          </span>
        </span>
        <span class="gem-c-pagination__link-divider visually-hidden">:</span>
        <span class="gem-c-pagination__link-label">Eligibility</span>
      </a>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">

    {% include "includes/related_links.html" %}
  </div>

</div>
{% include "includes/sp_topic.html" %}
{% endblock %}