{% extends "layout.html" %}

{% block pageTitle %}
  SP date in future
{% endblock %}

{% set serviceName %}
Find out what support you could get in retirement
{% endset%}
{% block beforeContent %}
  <a class="govuk-back-link" href="pension_age_partner">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <!--This page is if a user is more than 4 months away from their SP date-->
     
      <h1 class="govuk-heading-xl">
        You can apply now </h1> 
       <p>Because you reached State Pension age on <b>6 August 2019</b> you can apply for the following:</p>
       <h2 class="govuk-heading-m">State Pension</h2>
       <p> You can get your State Pension now if you haven't already claimed it.</p>
       
              <p><a href="/get_start">Get your State Pension</a></p>
       <h2 class="govuk-heading-m">Free bus pass</h2>
        <p>You can apply to get a bus pass for free travel in England.</p>
        <p><a href="/pension_age_bus_pass">Apply for a free bus pass</a></p>
     
        <h2 class="govuk-heading-m">Pension Credit </h2>
      
           <p>  You could get Pension Credit 
              to top up your State Pension to £255.25 a week.
          To qualify, your partner must have also have reached State Pension age. Or
          one of you is over State Pension age and getting Housing Benefit.</p>
          
 
           <p>How much Pension Credit you get depends on:</p>
           <ul class="govuk-list govuk-list--bullet">
           <li>your joint income being less than £255.55 a week</li>
           <li>the amount in savings and property you have</li>
           <li>if you have a disability</li>
           <li>if you're a carer</li>
           </ul>
           <p>If you’re eligible, Pension Credit could also help you get other benefits too. For example, reduced Council Tax, Housing Benefit to help pay your rent and free prescriptions.</p>
          <p>You have to claim Pension Credit. </p>      

         <p><a href="https://www.gov.uk/pension-credit/how-to-claim">Apply for Pension Credit</a></p>
         <h2 class="govuk-heading-m">Winter Fuel Payment</h2>
         <p>You could get a payment
       to help with your heating bill of
           </p>
           <ul class="govuk-list govuk-list--bullet">
              <li>£100 every year, or</li>
              <li>£200 every year if your partner
                doesn't qualify for Winter Fuel or they're on certain benefits</li>
                </ul>
            </p>
           <p>You should get Winter Fuel Payment automatically if you're already getting your State Pension or Pension Credit.</p>
           <p><a href="https://winterfuel.herokuapp.com/sprint24/residency">More on if you need to claim Winter Fuel Payments</a></p>

    </div>
  </div>

{% endblock %}
