  {% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="retirement_pension_browse1.html">Benefits and support</a>
      </li>

    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div id="subsection" class="subsection-pane pane with-sort">
          <div style="width: 40%; float: left"><img src="/public/images/list2_cut_down.png"></div>
        <div style="width: 60%; float: left;">
   
    
     <h2 class="govuk-heading-m">Retirement and pensions</h2>  
     <p><b>Plan for retirement</b></p>
        <ul class="a-to-z">
                <li>
                        <a href="/pension_age_start">Check your State Pension age</a>
                      </li>
                      <li>
                            <a href="/check_start">Check your State Pension forecast</a>
                          </li>
                          <li>
                                <a href="https://www.gov.uk/deferring-state-pension">Delay (defer) your State Pension</a>
                              </li>
                              <li>
                                    <a href="https://draft-origin.publishing.service.gov.uk/plan-for-retirement?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzNTM0NjQzMy02MjYyLTQ5MzgtYjc2MS0zMzYxMzk2NDYyMzYifQ.8p4ldQbJISNjK4MQZp4c3Qoas81cDGwE91egOxHD1rc">Plan your retirement income step-by-step</a>
                                  </li>
                        </ul>

                        <p><b>Get your State Pension and other retirement support</b></p>  

                        <ul class="a-to-z">                          
                                <li>
                                        <a href="/get_start">Get your State Pension</a>
                                      </li>
                             
                                        
                                              <li>
                                                    <a href="/contact_pension_service">Report a change or ask a question</a>
                                                  </li>
                                               
                                              <li>
                                                      <a href="https://www.gov.uk/pension-credit  ">Pension Credit</a>
                                                    </li>                        
                                              <li>
                                                      <a href="https://www.gov.uk/winter-fuel-payment">Winter Fuel Payment</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.gov.uk/apply-for-elderly-person-bus-pass">Apply for a bus pass</a>
                                                      </li>
                                    </ul>
                                    

                                           

                                      

                                  
    
    </div>
    
      </div>
      

    </div>

  
  </div>
{% endblock %}
