{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% set serviceName %}
Apply for help arranging child maintenance
{% endset%}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Can we use cookies in our service?
      </h1> 

      <p>A cookie is a small file which is stored on your device for a short time to make this service work.</p>

           <p>We use cookies that are:</p>

  
  <ul class="govuk-list govuk-list--bullet">
    <li>essential for the service to work, like remembering your answers to certain questions</li>
    <li>optional and will not stop the service from working, but will give us information to help us make it better</li>
  </ul>
  <p>We will not:</p>

  
  <ul class="govuk-list govuk-list--bullet">
    <li>use any essential cookies until you use the service</li>
    <li>use any optional cookies unless you tell us we can</li>
    <li>be able identify you through using cookies</li>
  </ul>

  <h2 class="govuk-heading-l">Optional cookie settings</h2>
  <h3 class="govuk-heading-s">Analytics cookies</h3>
  <p>We use Google Analytics to get information about how you use this service and help us make it better.</p>
      <form class="form" action="#" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            
          <b> Can we use cookies to help us improve the service?</b>
           
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                Yes
              </label> </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                No
              </label> </div>
           
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button">
        Save and continue
      </button>
    </form>
    </div>
  </div>

{% endblock %}
