{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% set serviceName %}

{% endset%}


{% block beforeContent %}


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Cookies consent
      </h1>
     
      <div class="example2">
        <div class="grid-row">
    

    <p><span class="app-c-tag app-c-tag--danger">Experimental</span>
    </p>

    <h3 class="govuk-heading-s">Latest</h3>
     
    
    <p><a href="/cookies/apply_cmg_start_banner_v2.html">Easily accept or reject analytics cookies from banner</a><br>
      - V2 new wording in banner</p>
      <p><a href="/cookies/pattern_design">Design</a></p>
      <p><a href="/cookies/pattern">Prototype instructions</a></p>
      
      

      <h3 class="govuk-heading-s">Alternative patterns</h3>
     
      
     <p><a href="/cookies/apply_cmg_start_banner2">Easily accept or reject analytics cookies from banner</a></p>
      
    
 
      
     
    
      
     <p><a href="/cookies/apply_cmg_start2">Interruption page - taken to policy page first</a></p>
      
   
    </div>
    </div>

  </div>
  </div>
{% endblock %}
