{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% set serviceName %}

{% endset%}


{% block beforeContent %}


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Cookies consent
      </h1>
     
      <div class="example2">
        <div class="grid-row">
    

    <p><span class="app-c-tag app-c-tag--danger">Experimental</span>
    </p>
     
     <h3 class="govuk-heading-s">GDS pattern</h3>
     
<p><a href="apply_cmg_start_banner">Start</a></p>
      </p>
      <h3 class="govuk-heading-s">Alternative pattern</h3>
      
     <p>Easily accept or reject analytics cookies from banner</p>
      
     <p><a href="apply_cmg_start_banner2">Start</a></p>
    </div>

    <div class="govuk-grid-column-one-third">

    

    </div>
  </div>
{% endblock %}
