  {% extends "layout.html" %}

{% block pageTitle %}
Problems with payments, cancel payments or report a change - Winter Fuel Payment
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">State Pension</a>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Winter Fuel Payment
      </h1>
      <aside class="part-navigation-container" role="complementary">
            <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
        <h2 class="gem-c-contents-list__title">Contents</h2>

      <ol class="gem-c-contents-list__list">
          <li
          class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__link">
          <a class="gem-c-contents-list__link" href="wf_overview"> Overview</a>
      </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                    <a class="gem-c-contents-list__link" href="wf_eligibility">Eligibility</a>
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                    <a class="gem-c-contents-list__link"  href="wf_what_youll_get">What you’ll get if you qualify</a>
                  </li>

                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                    <a class="gem-c-contents-list__link"  href="wf_who_claims">Who needs to make a claim?</a>
                  </li>


          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
              <a class="gem-c-contents-list__link">Report a change or cancel your payment</a>
            </li>
      </ol>
    </nav>

        </aside>






    </div>

    <div class="govuk-grid-column-one-third">


  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Report a change or cancel your payment</h2>

  <P>Contact the Winter Fuel Payment Centre if you:</P>

    <ul class="govuk-list govuk-list--bullet">
      <li>think you've been paid the wrong amount</li>
      <li>need to report a change of circumstance that DWP do not know about yet</li>
      <li>want to cancel future payments</li>
      <li>want to return a payment</li>
  </ul>

  <p>Report any change of circumstances as soon as possible, as these can affect how
    much Winter Fuel Payment you get. For example, if you stop getting a benefit, move
    house or go into a residential care home.</p>

      <p>If you decide to cancel your payments, you can request them again at any time.</p>

     <div class="contact">
      <p><strong>Winter Fuel Payment Centre</strong>   <br>
      Telephone: 0800 731 0160     <br>
      Telephone from outside the UK: +44 (0)191 218 7777<br>
      Textphone: 0800 731 0464  <br>
      Textphone from outside the UK: +44 (0)191 218 7280<br>
      <a href="http://ngts.org.uk/">NGT text relay</a> (if you cannot hear or speak on the phone):
      18001 then 0800 731 0160<br>
      Monday to Friday, 8am to 6pm  <br>
      <a href="/call-charges">Find out about call charges</a></p>
      </div>

<h3 class="govuk-heading-s">If you disagree with a decision</h3>

<p>You can <a href="/mandatory-reconsideration">challenge a decision about your claim</a>. This is called asking for mandatory reconsideration.</p>

      <div class="pagination">
     <a href="wf_who_claims" class="gem-c-pagination__link" rel="prev">
        <span class="gem-c-pagination__link-title">
          <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="gem-c-pagination__link-text">
            Previous
          </span>
        </span>
          <span class="gem-c-pagination__link-divider visually-hidden">:</span>
          <span class="gem-c-pagination__link-label">Who needs to make a claim?</span>
      </a>

    </div>


                          </div>
                <div class="govuk-grid-column-one-third">
                    {% include "includes/wf_related_links.html" %}
    </div>

    </div>
    {% include "includes/sp_topic.html" %}
{% endblock %}
