  {% extends "layout.html" %}

{% block pageTitle %}
  What you'll get - Winter Fuel Payment
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Benefits</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Heating and housing benefits</a>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Winter Fuel Payment
      </h1>
      <aside class="part-navigation-container" role="complementary">
            <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
        <h2 class="gem-c-contents-list__title">Contents</h2>

      <ol class="gem-c-contents-list__list">
          <li
          class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__link">
          <a class="gem-c-contents-list__link" href="wf_overview">Overview</a>
      </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__link">
              <a class="gem-c-contents-list__link" href="wf_eligibility">Eligibility</a>
                  </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link">What you’ll get if you qualify</a>
          </li>

          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link"  href="wf_who_claims">Who needs to make a claim?</a>
          </li>

          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
              <a class="gem-c-contents-list__link" href="wf_problem">Report changes or get payment advice</a>
            </li>


      </ol>
    </nav>

        </aside>


    </div>

    <div class="govuk-grid-column-one-third">


  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">What you’ll get if you qualify</h2>

         <p>How much you get depends on <a href="wf_eligibility">your eligibility</a> and your circumstances during the qualifying
           week. The qualifying week for winter 2020 to 2021 is from 21 to 27 September 2020.</p>

           <p>You can <a href="https://winterfuel.herokuapp.com/sprint24/date-of-birth">check to see if
                         you're eligible for a Winter Fuel Payment</a> online.</p>

           <div class="govuk-inset-text">
               <p>Any money you get is tax-free and will not affect your other benefits.</p>
           </div>

           <h2 class="govuk-heading-m" id="benefits">If you get certain benefits</h2>

           <p>Your payment may be different if you get:</p>

           <ul class="govuk-list govuk-list--bullet">
               <li>Pension Credit</li>
               <li>income-based Jobseeker’s Allowance (JSA)</li>
               <li>income-related Employment and Support Allowance (ESA)</li>
               <li>Income Support</li>
           </ul>

           <h3 class="govuk-heading-m">Born 21 September 1940 to 5 October 1954</h3>

           <p>You'll get:</p>
           <ul class="govuk-list govuk-list--bullet">
               <li>£200 if you live alone (or none of the people you live with qualify)</li>
               <li>£100 if you live with someone who also qualifies</li>
               <li>£100 if you live in a care home and do not get <a class="app-navigation_link" href="#benefits">certain benefits</a></li>
          <!--     <li>£200 if you get one of the benefits and live alone (or none of the people
                 you live with qualify)</li>   -->
               <li>£100 if you move into a care home after 29 June 2020 and get <a class="app-navigation_link" href="#benefits">certain benefits</a></li>
               <li>no Winter Fuel Payment if you live in a care home for the whole time from 29 June to 27 September 2020 and get <a class="app-navigation_link" href="#benefits">certain benefits</a></li>
           </ul>

           <h3 class="govuk-heading-m">Born on or before 22 September 1939</h3>

           <p>You'll get:</p>
           <ul class="govuk-list govuk-list--bullet">
               <li>£300 if you live alone (or none of the people you live with qualify)</li>
               <li>£200 if you live with someone under 80 who also qualifies</li>
               <li>£150 if you live with someone 80 or over who also qualifies</li>
               <li>£150 if you live in a care home and do not get <a class="app-navigation_link" href="#benefits">certain benefits</a></li>
          <!--     <li>£300 if you get one of the benefits and live alone (or none of the people you
                 live with qualify)</li>    -->
               <li>£150 if you move into a care home after 29 June 2020 and get <a class="app-navigation_link" href="#benefits">certain benefits</a></li>
               <li>no Winter Fuel Payment if you live in a care home for the whole time from 29 June to 27 September 2020 and get <a class="app-navigation_link" href="#benefits">certain benefits</a></li>
           </ul>

  <h3 class="govuk-heading-m">How and when you are paid</h3>

  <p>You’ll get a letter in October or November to say how much you'll get. The letter will also
    give an estimate of when it'll be paid and give details of the account it’ll be paid into.</p>

  <p>Most payments are made automatically in November or December.</p>
  <p>Contact the <a href="wf_problem">Winter Fuel Payment Centre</a> if you do not get
    your payment by 15 January 2021.</p>


  <div class="pagination">
    <a href="wf_what_youll_get" class="gem-c-pagination__link" rel="prev">
       <span class="gem-c-pagination__link-title">
         <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
           <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
         </svg>
         <span class="gem-c-pagination__link-text">
           Previous
         </span>
       </span>
         <span class="gem-c-pagination__link-divider visually-hidden">:</span>
         <span class="gem-c-pagination__link-label">Eligibility</span>
     </a>

   </div>
   <div class="pagination">
       <a href="wf_who_claims" class="gem-c-pagination__link" rel="next">
         <span class="gem-c-pagination__link-title">
           <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
             <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
           </svg>
           <span class="gem-c-pagination__link-text">
             Next
           </span>
         </span>
           <span class="gem-c-pagination__link-divider visually-hidden">:</span>
           <span class="gem-c-pagination__link-label">Who needs to make a claim?</span>
       </a>
   </div>

   </div>
                <div class="govuk-grid-column-one-third">

                  {% include "includes/wf_related_links.html" %}
    </div>

    </div>
    {% include "includes/sp_topic.html" %}
{% endblock %}
