  {% extends "layout.html" %}

{% block pageTitle %}
  What you'll get - Winter Fuel Payment
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">State Pension</a>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Winter Fuel Payment
      </h1>
      <aside class="part-navigation-container" role="complementary">
            <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
        <h2 class="gem-c-contents-list__title">Contents</h2>

      <ol class="gem-c-contents-list__list">
          <li
          class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__link">
          <a class="gem-c-contents-list__link" href="wf_overview"> Overview</a>
      </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__link">
              <a class="gem-c-contents-list__link" href="wf_overview">  Eligibility</a>
                  </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link">What you’ll get if you qualify</a>
          </li>

          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link"  href="wf_who_claims">Who needs to make a claim?</a>
          </li>

          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
              <a class="gem-c-contents-list__link" href="wf_problem">Report a change or cancel your payment</a>
            </li>


      </ol>
    </nav>

        </aside>


    </div>

    <div class="govuk-grid-column-one-third">


  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">What you’ll get if you qualify</h2>

         <p>How much you get depends on your circumstances during the qualifying
           week. The qualifying week for winter 2019 to 2020 is 16 to 22 September 2019.</p>

           <div class="govuk-inset-text">
               <p>Any money you get will not affect your other benefits.</p>
           </div>

           <p>If you were born 23 September 1939 to 5 April 1954, you’ll get:</p>

           <ul class="govuk-list govuk-list--bullet">
               <li>£200 if you live alone (or none of the people you live with qualify)</li>
               <li>£100 if you live with someone who also qualifies</li>
               <li>£100 if you live in a care home and do not get certain benefits</li>
           </ul>

           <p>If you were born on or before 22 September 1939, you’ll get:</p>

           <ul class="govuk-list govuk-list--bullet">
               <li>£300 if you live alone (or none of the people you live with qualify)</li>
               <li>£200 if you live with someone under 80 who also qualifies</li>
               <li>£150 if you live with someone 80 or over who also qualifies</li>
               <li>£150 if you live in a care home and do not get certain benefits</li>
           </ul>

  <h2 class="govuk-heading-m">If you qualify and get certain benefits</h2>

  <p>Your payment may be different if you or your partner get one of these benefits:</p>

  <ul class="govuk-list govuk-list--bullet">
      <li>Pension Credit</li>
      <li>income-based Jobseeker’s Allowance (JSA)</li>
      <li>income-related Employment and Support Allowance (ESA)</li>
      <li>Income Support</li>
  </ul>

  <p>If you were born 23 September 1939 to 5 April 1954, you’ll get:</p>

  <ul class="govuk-list govuk-list--bullet">
      <li>£200 if you get one of the benefits and live alone (or none of the people
        you live with qualify)</li>
      <li>£200 if you...</li>
      <li>no Winter Fuel Payment if you live in a care home and get one of the benefits</li>
  </ul>

  <p>If you were born on or before 22 September 1939, you’ll get:</p>

  <ul class="govuk-list govuk-list--bullet">
      <li>£300 if you get one of the benefits and live alone (or none of the people you
        live with qualify)</li>
      <li>£300 if you live with someone under 80 who also qualifies</li>
      <li>no Winter Fuel Payment if you live in a care home and get one of the benefits</li>
  </ul>

  <h3 class="govuk-heading-s">How and when you are paid</h3>

  <p>You’ll get a letter in November telling you how much, an estimate of when and
    details of which account it’ll be paid into.</p>

  <p>Most payments are made automatically between November and December.</p>
  <p>If the money is not paid into your account by 13 January 2020, call… on...</p>

  <p>If you qualify and you’re not getting a social security benefit (or if you only
    get Housing Benefit, Council Tax Reduction, Child Benefit or Universal Credit),
    you’ll need to make a claim.</p>

  <div class="pagination">
    <a href="wf_what_youll_get" class="gem-c-pagination__link" rel="prev">
       <span class="gem-c-pagination__link-title">
         <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
           <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
         </svg>
         <span class="gem-c-pagination__link-text">
           Previous
         </span>
       </span>
         <span class="gem-c-pagination__link-divider visually-hidden">:</span>
         <span class="gem-c-pagination__link-label">Eligibility</span>
     </a>

   </div>
   <div class="pagination">
       <a href="wf_who_claims" class="gem-c-pagination__link" rel="next">
         <span class="gem-c-pagination__link-title">
           <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
             <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
           </svg>
           <span class="gem-c-pagination__link-text">
             Next
           </span>
         </span>
           <span class="gem-c-pagination__link-divider visually-hidden">:</span>
           <span class="gem-c-pagination__link-label">Who needs to make a claim?</span>
       </a>
   </div>

   </div>
                <div class="govuk-grid-column-one-third">

                  {% include "includes/wf_related_links.html" %}
    </div>

    </div>
    {% include "includes/sp_topic.html" %}
{% endblock %}
