  {% extends "layout.html" %}

{% block pageTitle %}
  How to Claim - The new State Pension
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">State Pension</a>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        The new State Pension
      </h1>
      <aside class="part-navigation-container" role="complementary">
            <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
        <h2 class="gem-c-contents-list__title">Contents</h2>
  
      <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                    <a class="gem-c-contents-list__link" href="nsp_overview">Eligibility</a>
                  </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link"  href="nsp_what_youll_get">What you'll get</a>
          </li>
          
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link"  href="nsp_claim">How to claim</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link"  href="nsp_calc">How it's calculated</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link"  href="nsp_inherit">Inheriting or increasing State Pension from a spouse or civil partner</a>
              </li>
          
          
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                    <a class="gem-c-contents-list__link">Living and working overseas
                    </a>
                  </li>
      </ol>
      </ol>
    </nav>
  
        </aside>
    
      
   

      

    </div>

    <div class="govuk-grid-column-one-third">

     
  </div>
  <div class="govuk-grid-column-two-thirds">
    
    <h2 class="govuk-heading-l">Living and working overseas</h2>
       <p>If you live or work in another country, you might be able to contribute towards that country’s State Pension scheme.</p>
     <p>If you live or work in another country, you might be able to contribute towards that country’s State Pension scheme.</p>
      <p> To check if you can pay into or receive another country’s state pension, contact the pension service for that country. </p>
      <h2 class="govuk-heading-m">Claiming another country’s state pension</h2>
     <p>Depending on where you’ve lived or worked, you may need to make more than one pension claim.</p>
     <h3 class="govuk-heading-s">European Economic Area (EEA) countries, Gibraltar and Switzerland</h3>
     <p>You only need to claim your state pension in the last country where you lived or worked. Your claim will cover all <a href="https://www.gov.uk/eu-eea">EEA countries</a> (including the UK), Gibraltar and Switzerland. You do not need to claim for each country separately.</p>
     <h3 class="govuk-heading-s">Countries outside the EEA (except Switzerland)</h3>
     <p>You need to claim your pension from each country separately.</p>
     <p>Check with the pension service for the country where you’ve lived or worked to find out how to make a claim.</p>
     <h2 class="govuk-heading-m">Your UK State Pension if you’ve lived or worked abroad</h2>
     <p>Your UK State Pension will be based on your UK National Insurance record. You need 10 years of UK National Insurance contributions to be eligible for the new State Pension.</p>
        <p>You may be able to use time spent abroad to make up the 10 qualifying years. This is most likely if you’ve lived or worked in:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>the EEA</li>
            <li>Gibraltar</li>
            <li>  Switzerland</li>
            <li>certain countries that have a <a href="https://www.gov.uk/government/publications/state-pensions-annual-increases-if-you-live-abroad/countries-where-we-pay-an-annual-increase-in-the-state-pension#countries-the-uk-has-a-social-security-agreement-with">social security agreement with the UK</a></li>
          </ul>

          <div class="govuk-inset-text"> <h3 class="govuk-heading-s"> Example</h3>

          <p>You have 7 qualifying years from the UK on your National Insurance record when you reach State Pension age.</p>

            <p>You worked in an EEA country for 16 years and paid contributions to that country’s state pension.</p>

                <p> You will meet the minimum qualifying years to get the new State Pension because of the time you worked overseas. Your new State Pension amount will only be based on the 7 years of National Insurance contributions you made in the UK.</p></div>

                <h2 class="govuk-heading-m">   You want to retire overseas</h2>
                <p>You can <a href="https://www.gov.uk/state-pension-if-you-retire-abroad">claim the new State Pension overseas</a> in most countries.</p>

                    <p>Your State Pension will increase each year but only if you live in:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>the EEA</li>
                            <li>Gibraltar</li>
                                <li>Switzerland</li>
                                <li>certain countries that have a <a href="https://www.gov.uk/government/publications/state-pensions-annual-increases-if-you-live-abroad/countries-where-we-pay-an-annual-increase-in-the-state-pension#countries-the-uk-has-a-social-security-agreement-with">social security agreement with the UK</a></li>
                    </ul>
<p>Your new State Pension may be affected if your circumstances change. You can get more information from the <a href="https://www.gov.uk/international-pension-centre">International Pension Centre</a>.</p>

     <div class="pagination">
     <a href="nsp_inherit" class="gem-c-pagination__link" rel="prev">
        <span class="gem-c-pagination__link-title">
          <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="gem-c-pagination__link-text">
            Previous
          </span>
        </span>
          <span class="gem-c-pagination__link-divider visually-hidden">:</span>
          <span class="gem-c-pagination__link-label">Inheriting or increasing State Pension from a spouse or civil partner</span>
      </a>

    </div>

   
                          </div>
                <div class="govuk-grid-column-one-third">
                    {% include "includes/nsp_related_links.html" %}
    </div>

    </div>
    {% include "includes/sp_topic.html" %}
{% endblock %}
