{% extends "layout.html" %}

{% block pageTitle %}
Inheriting or increasing State Pension from a spouse or
                            civil partner - The new State Pension
{% endblock %}


{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">State Pension</a>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            The new State Pension
        </h1>
        <aside class="part-navigation-container" role="complementary">
            <nav role="navigation" class="gem-c-contents-list  " data-module="track-click"
                aria-label="Pages in this guide">
                <h2 class="gem-c-contents-list__title">Contents</h2>

                <ol class="gem-c-contents-list__list">
                    <li
                        class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__link">
                        <a class="gem-c-contents-list__link" href="nsp_overview"> Eligibility</a>
                    </li>
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                        <a class="gem-c-contents-list__link" href="nsp_what_youll_get">What you'll get</a>
                    </li>

                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                        <a class="gem-c-contents-list__link" href="nsp_claim">How to claim</a>
                    </li>
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                        <a class="gem-c-contents-list__link" href="nsp_calc">How it's calculated</a>
                    </li>

                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                        <a class="gem-c-contents-list__link">Inheriting or increasing State Pension from a spouse or
                            civil partner</a>
                    </li>


                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                        <a class="gem-c-contents-list__link" href="nsp_living">Living and working overseas
                        </a>
                    </li>
                </ol>
                </ol>
            </nav>

        </aside>






    </div>

    <div class="govuk-grid-column-one-third">


    </div>
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Inheriting or increasing State Pension from a spouse or civil partner</h2>

        <p>You might be able to inherit an extra payment on top of your new State Pension if you’re widowed.</p>


        <div class="govuk-inset-text">
            <p>You will not be able to inherit anything if you remarry or form a new civil partnership before you reach
                State Pension age.</p>
        </div>

        <h2 class="govuk-heading-m">Inheriting Additional State Pension</h2>

        <p>You might inherit part of your deceased partner’s Additional State Pension if your marriage or civil
            partnership with them began before 6 April 2016 and one of the following applies:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>your partner reached State Pension age before 6 April 2016</li>
            <li>they died before 6 April 2016 but would have reached State Pension age on or after that date</a>
            </li>
        </ul>

        <p>It will be paid with your State Pension.</p>
        <h2 class="govuk-heading-m">Inheriting Additional State Pension</h2>

        <p>You’ll inherit half of your partner’s protected payment if your marriage or civil partnership with them began
            before 6 April 2016 and:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>their State Pension age is on or after 6 April 2016</li>
            <li>they died on or after 6 April 2016</li>
            </li>
        </ul>
        <p>It will be paid with your State Pension.</p>
        <h2 class="govuk-heading-m">Inheriting extra State Pension or a lump sum</h2>

        <p>You may inherit part of or all of your partner’s extra State Pension or lump sum if:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>they died while they were deferring their State Pension (before claiming) or they had started claiming
                it <a href="https://www.gov.uk/deferring-state-pension">after deferring</a></li>
            <li>they reached State Pension age before 6 April 2016</li>
            <li>you were married or in the civil partnership when they died</li>
            </li>
        </ul>
        <h2 class="govuk-heading-m">Your partner’s National Insurance record and your State Pension</h2>

        <p>The new State Pension is based on your own National Insurance record.</p>

        <div class="govuk-inset-text">
            <p>If you paid <a href="https://www.gov.uk/reduced-national-insurance-married-women">married women’s or widows’ reduced rate National Insurance</a>, you might be able to increase
                your new State Pension <a href="https://www.gov.uk/state-pension-through-partner">if you’re eligible</a>.</p>
        </div>
        <h2 class="govuk-heading-m">If you get divorced or dissolve your civil partnership</h2>

        <p>The courts can make a ‘pension sharing order’ if you get divorced or dissolve your civil partnership.</p>

        <p>You’ll get an extra payment on top of your State Pension if your ex-partner is ordered to share their
            Additional State Pension or protected payment with you.</p>

        <p>Your State Pension will be reduced if you’re ordered to share your Additional State Pension or protected
            payment with your partner.</p>



        <div class="pagination">
            <a href="nsp_calc" class="gem-c-pagination__link" rel="prev">
                <span class="gem-c-pagination__link-title">
                    <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
                        viewBox="0 0 17 13">
                        <path fill="currentColor"
                            d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                        </path>
                    </svg>
                    <span class="gem-c-pagination__link-text">
                        Previous
                    </span>
                </span>
                <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                <span class="gem-c-pagination__link-label">How it's calculated</span>
            </a>

        </div>
        <div class="pagination">
            <a href="nsp_living" class="gem-c-pagination__link" rel="next">
                <span class="gem-c-pagination__link-title">
                    <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
                        viewBox="0 0 17 13">
                        <path fill="currentColor"
                            d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                        </path>
                    </svg>
                    <span class="gem-c-pagination__link-text">
                        Next
                    </span>
                </span>
                <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                <span class="gem-c-pagination__link-label">Living and working overseas</span>
            </a>
        </div>


    </div>
    <div class="govuk-grid-column-one-third">

        {% include "includes/nsp_related_links.html" %}
    </div>

</div>
{% include "includes/sp_topic.html" %}
{% endblock %}