{% extends "layout.html" %}

{% block pageTitle %}
How it's calculated - The new State Pension
{% endblock %}


{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">State Pension</a>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      The new State Pension
    </h1>
    <aside class="part-navigation-container" role="complementary">
      <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link" href="nsp_overview">Eligibility</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link" href="nsp_what_youll_get">What you'll get</a>
          </li>

          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link" href="nsp_overview">How to claim</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link">How it's calculated</a>
          </li>

          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link"  href="nsp_inherit">Inheriting or increasing State Pension from a spouse or civil partner</a>
          </li>
      
      
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link"  href="nsp_living">Living and working overseas
                </a>
        </ol>
      </nav>

    </aside>






  </div>

  <div class="govuk-grid-column-one-third">


  </div>
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">How it's calculated</h2>
    <p>The full new State Pension is £168.60 per week. What you’ll receive is based on your National Insurance record.
    </p>
    <p>
      <a href="../check_start">Check your State Pension forecast</a> to find out how much State Pension you could get.
    </p>




    <p>Your National Insurance record before 6 April 2016 is used to calculate your ‘starting amount’. This is part of
      your new State Pension.
      <p> Your starting amount will be the higher of either: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the amount you would get under the old State Pension rules (which includes basic State Pension and
          Additional State Pension)</li>
        <li>the amount you would get if the new State Pension had been in place at the start of your working life
       
      </ul>

      <p>Your starting amount will include a deduction if you were contracted out of the Additional State Pension. You
        may have been contracted out because you were in a certain type of workplace, personal or stakeholder pension.
      </p>

      <p>If you were contracted out of the Additional State Pension because of a workplace, personal or stakeholder
        pension, you will have either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>paid lower National Insurance contributions </li>
        <li>had some of your National Insurance contributions put towards to your workplace, personal or stakeholder
          pension </li>
      </ul>

      <h2 class="govuk-heading-m">If your starting amount is less than the full new State Pension</h2>
      <p>You can get more State Pension by adding more qualifying years to your National Insurance record after 5 April
        2016. You can do this until you reach the full new State Pension amount or you reach State Pension age -
        whichever is first.</p>
      <p>Each qualifying year on your National Insurance record after 5 April 2016 will add around £4.82 a week to your
        new State Pension.</p>
      <h2 class="govuk-heading-m">If your starting amount is more than the full new State Pension</h2>
      <p>The part of your starting amount which is above the full new State Pension is called your ‘protected payment’.
        This is paid on top of the full new State Pension.</p>
        <p>Any qualifying years you have after 5 April 2016 will not add more to your State Pension.</p>

      <h2 class="govuk-heading-m">If you did not have a National Insurance Record before 6 April 2016</h2>
      <p>Your new State Pension is more likely to be calculated in this way if you were born after the year 2000 or
        became a resident of the UK after 2015.</p>
      <p>Your State Pension will be calculated entirely under the new State Pension rules.</p>
      <p>You’ll usually need at least 10 qualifying years on your National Insurance record to get any State Pension.
      </p>
      <p>You’ll need 35 qualifying years to get the full new State Pension.</p>
      <p>You’ll get a proportion of the new State Pension if you have between 10 and 35 qualifying years.</p>
      <h2 class="govuk-heading-m">How to improve your National Insurance Record</h2>
      <p>You can have gaps in your National Insurance record and still get the full new State Pension.</p>
      <p>
        <a href="../check_start">Check your State Pension forecast</a> to find out how much State Pension you could get.
      </p>
  
      <h3 class="govuk-heading-s">Qualifying years if you’re working</h3>
      <p>When you’re working you pay National Insurance and get a qualifying year if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you’re employed and earning over £166 a week from one employer; or</li>
        <li>you’re <a href="https://www.gov.uk/self-employed-national-insurance-rates">self-employed</a> and paying National Insurance contributions </li>
      </ul>
      <p>You might not pay National Insurance contributions because you’re earning less than £166 a week. However, you
        may still get a qualifying year if you earn between <a href="https://www.gov.uk/national-insurance-rates-letters">£118 and £166 a week from one employer</a>.</p>
        <h3 class="govuk-heading-s">Qualifying years if you’re not working</h3>
        <p>You may get National Insurance credits</a> if you cannot work - for example, because of illness or disability, or if you’re a carer or you’re unemployed.</a></p>
        <p>Check if you are eligible for <a href="https://www.gov.uk/national-insurance-credits/eligibility">National Insurance Credits</a>.</p>
        <h3 class="govuk-heading-s">You’re not working or getting National Insurance credits</h3>
        <p>You might be able to <a href="https://www.gov.uk/voluntary-national-insurance-contributions">pay voluntary National Insurance contributions</a> if you’re not in one of these groups but want to increase your State Pension amount.</p>
        <h2 class="govuk-heading-m">Further information</h2>
        <p>You can read <a href="https://www.gov.uk/government/publications/your-new-state-pension-explained">‘Your new State Pension explained’</a> for more detailed information about the changes to the State Pension scheme.</p>

      <div class="pagination">
        <a href="nsp_claim" class="gem-c-pagination__link" rel="prev">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
              viewBox="0 0 17 13">
              <path fill="currentColor"
                d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
              </path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Previous
            </span>
          </span>
          <span class="gem-c-pagination__link-divider visually-hidden">:</span>
          <span class="gem-c-pagination__link-label">How to claim</span>
        </a>

      </div>
      <div class="pagination">
        <a href="nsp_inherit    " class="gem-c-pagination__link" rel="next">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
              viewBox="0 0 17 13">
              <path fill="currentColor"
                d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
              </path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
          <span class="gem-c-pagination__link-divider visually-hidden">:</span>
          <span class="gem-c-pagination__link-label">Inheriting or increasing State Pension from a spouse or civil partner</span>
        </a>
      </div>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/nsp_related_links.html" %}
  </div>

</div>
{% include "includes/sp_topic.html" %}
{% endblock %}