{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% set serviceName %}
  Find your address
{% endset%}


{% block beforeContent %}


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Address look up
      </h1>
      <div class="example2">
        <div class="grid-row">
    
    <h2 class="govuk-heading-m">House name and postcode search</h2>
    

    <p><span class="app-c-tag app-c-tag--beta">Proposed pattern</span>
    </p>
     
     <h3 class="govuk-heading-s">Search for property name/number and postcode</h3>
   
<p><a href="/address_look_up/search_pattern">Address search</a></p>
<p><a href="/address_look_up/confirm_address_pattern">1 address found</a></p>
<p><a href="/address_look_up/select_address_pattern">Multiple addresses found</a></p>
      <p><a href="/address_look_up/search_error_pattern">Search validation</a></p>
      <p><a href="/address_look_up/select_address_pattern_error">Select address validation</a></p>
      <p><a href="/address_look_up/no_address_pattern">No addresses found</a></p>
      
    </div>
    </div>
      <div class="example2">
        <div class="grid-row">
    
    <h2 class="govuk-heading-m">House number/name and postcode search</h2>
    

    <p><span class="app-c-tag app-c-tag--danger">Experimental</span>
    </p>
     
     <h3 class="govuk-heading-s">Results as radio buttons</h3>
     <p>Used in Apply for a Budgeting Loan</p>
<p><a href="/address_look_up/search1">Start</a></p>
      </p>
      <p><a href="/address_look_up/search_errors">Search validation</a></p>
      <p><a href="/address_look_up/no_address3">Address not found</a></p>
      <h3 class="govuk-heading-s">Alternative address not found</h3>
      <p><a href="/address_look_up/no_address">Address not found</a></p>
      </p>
      <h3 class="govuk-heading-s">Text links for address not listed and change search</h3>
      <p>Used in Buy a rod fishing licence</p>
      <p><a href="/address_look_up/search2">Start</a></p>
    
            </p>
            <p><a href="/address_look_up/select_address2_errors">Select address validation</a></p>
            <p><a href="/address_look_up/select_address2_long">Long address list</a></p>

            <h3 class="govuk-heading-s">Address not found goes straight to manual entry</h3>
      <p>Used in Buy a rod fishing licence</p>
            <p><a href="/address_look_up/no_address2">Address not found</a></p>
      </p>
      
      
     
      

    </div>

    <div class="govuk-grid-column-one-third">

    

    </div>
  </div>
{% endblock %}
