{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% set serviceName %}
  Find your address
{% endset%}


{% block beforeContent %}


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Rural address
      </h1>
     
   
    <p>4 Upper BradshawSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Poor House, Wortshill RoadSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Reap, Laund RoadSlaithwaite, Huddersfield, HD7 5UZ<BR>
    School House ShredSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Upper Newgate Cottage, Burnt Platts LaneSlaithwaite, Huddersfield, HD7 5UZ<BR>
    West End Farm, WortshillSlaithwaite, Huddersfield, HD7 5UZ<BR>
    1 Cartgate Foot, Burnt Platts LaneSlaithwaite, Huddersfield, HD7 5UZ<BR>
    1 MerrydaleSlaithwaite, Huddersfield, HD7 5UZ<BR>
    1 Wool RoydSlaithwaite, Huddersfield, HD7 5UZ<BR>
    3 Wool RoydSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Cartgate Foot FarmSlaithwaite, Huddersfield, HD7 5UZ<BR>
    5 Upper BradshawSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Mount Pleasant, Burnt Platts LaneSlaithwaite, Huddersfield, HD7 5UZ<BR>
    The LaitheSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Tyas House, MerrydaleSlaithwaite, Huddersfield, HD7 5UZ<BR>
    The Piggery, Burnt Platts LaneSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Lower Bradshaw Barn, 7 Bradshaw LaneSlaithwaite, Huddersfield, HD7 5UZ<BR>
    The Barn, 3 Wool RoydSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Willow Nook, 5 Upper BradshawSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Newgate Cottage, Bradshaw LaneSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Bailey Slacks, Burnt Platts LaneSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Cartgate Head, Burnt Platts LaneSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Cockley Top, Laund RoadSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Denby HouseSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Far Wortshill FarmSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Goat Hill End Farm, Burnt Platts LaneSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Gosling Green, Laund RoadSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Lower Bradshaw, Laund RoadSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Middle Bradshaw, Bradshaw LaneSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Moor Top, Burnt Platts LaneSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Moorgate, Laund RoadSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Moorlands Farm, Bradshaw LaneSlaithwaite, Huddersfield, HD7 5UZ<BR>
    4 Wool RoydSlaithwaite, Huddersfield, HD7 5UZ<BR>
    1 BirksSlaithwaite, Huddersfield, HD7 5UZ<BR>
    2 BirksSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Chapel ShredSlaithwaite, Huddersfield, HD7 5UZ<BR>
    2 Cockley CoteSlaithwaite, Huddersfield, HD7 5UZ<BR>
    3 Cockley CoteSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Greystones Farm, Bradshaw LaneSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Goat Hill Farm, 2 Goat HillSlaithwaite, Huddersfield, HD7 5UZ<BR>
    1 LaundsSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Launds Cottage, 1 LaundsSlaithwaite, Huddersfield, HD7 5UZ<BR>
    2 LaundsSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Laund Farm, 2 LaundsSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Owlers Clough, Lower LaundsSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Philip Sunley Transport Ltd, Lower Laund Farm, Lower LaundsSlaithwaite, Huddersfield, HD7 5UZ<BR>
    Hirst Barn, Lower WortshillSlaithwaite, Huddersfield, HD7 5UZ<BR>
    1 Lower WortshillSlaithwaite, Huddersfield, HD7 5UZ<BR>
    3 Lower WortshillSlaithwaite, Huddersfield, HD7 5UZ<BR>
    4 Lower WortshillSlaithwaite, Huddersfield, HD7 5UZ<BR>
    S & A Booth Transport, 1 Cartgate Foot, Burnt Platts LaneSlaithwaite, Huddersfield, HD7 5UZ<BR>
    </p>

    </div>
  </div>
{% endblock %}
