{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% set serviceName %}
  Find your address
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="search_pattern.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#address">Select your correct address</a>
            </li>
          </ul>
        </div>
      </div>

      <h1 class="govuk-heading-xl">
        Select your address
      </h1>

    

            <form class="form" action="/address_look_up/complete" method="post">
      
              <div class="govuk-form-group govuk-form-group--error">
                  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <a name="address"></a>
                      <p class="govuk-!-margin-top-4">1 address found for <b>62</b> and <b>NE25 9NZ</b> &nbsp;&nbsp;&nbsp;<a href="search_pattern">Change</a></p>
                    </legend>
                    <span id="changed-name-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Select your correct address
                      </span>
                    <div class="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="address-confirmation" name="address-confirmation" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="address-confirmation">
                          62 TURNBERRY, WHITLEY BAY
                        </label>
                      </div>
                   
                      
                    </div>
                  </fieldset>
                </div>
                <p><a href="/address_look_up/enter_address_pattern" >My address is not listed</a></p>
                <p><a href="/address_look_up/complete" class="govuk-button">
                  Continue
                </a></p>
      
          </form>

    </div>
  </div>

{% endblock %}


