  {% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">State Pension</a>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Check your State Pension forecast
      </h1>

      <p>Use this service to find out how much State Pension you could get, and the date you can get it.</p>
      
      <p><a href="/government/news/proposed-new-timetable-for-state-pension-age-increases">The State Pension age may change in the future</a>.</p>
      

      <h2 class="govuk-heading-m">Before you start</h2>
<p>Get your information ready for identification:</p>

<ul class="govuk-list">
  <li>National Insurance number</li>
  <li>Passport</li>
  <li>Payslip or P60</li>
</ul>
<a href="" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>
<section class="more">
      

  <div id="other-ways-to-apply">
    <h2 class="govuk-heading-m">Other ways to apply</h2>
    <p>Contact the <a href="/future-pension-centre">Future Pension Centre</a> if you'll reach <a href="/state-pension-age">your State Pension age</a> in more than 30 days.</p>

  </div>

  </section>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Check your State Pension forecast
              </a>
            </li>
            <li>
              <a href="#">
                Planning your retirement income
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-size-16">
                State Pension age review<span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
