  {% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">State Pension</a>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Get your State Pension
      </h1>

      <p>Use this service to get your State Pension online.</p>

      <p>You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the date of your most recent marriage, civil partnership or divorce</li>
        <li>dates of any time spent living or working abroad</li>
        <li>your personal or joint bank or building society details</li>
      </ul>

      <a href="pension_age_dob" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>

      <h2 class="govuk-heading-m">
		Other ways to get your State Pension
	</h2>
  <p>The online service is also available in <a href="https://www.gov.uk/cael-eich-pensiwn-y-wladwriaeth">Welsh (Cymraeg)</a>.</p>
  <p>There's a different way to get your State Pension if <a rel="external" href="https://www.nidirect.gov.u=&#10;&#9;&#9;k/get-state-pension">you live in Northern Ireland</a>, or if <a href="https://www.gov.uk/state-pension-if-you-retire-abroad">you live outside of the UK</a> and have not received an invitation letter.</p>
  <p>The online service is the quickest way to get your State Pension, but you can also <a href="https://www.gov.uk/contact-pension-service">apply by phone</a> or <a href="https://www.gov.uk/government/publications/the-basic-state-pension">print and post a form</a>.</p>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Check your State Pension forecast
              </a>
            </li>
            <li>
              <a href="#">
                Planning your retirement income
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-size-16">
                State Pension age review<span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
