
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
       Retirement content prototypes
       
      </h1>
      <div class="example2">
          <div class="grid-row">
      
      <h2 class="govuk-heading-m">Check your State Pension age</h2>
      

      
      <p>
        Simplified the State Pension age calculator to only ask for the information we need. Help to make users aware of what else they're entitled to at State Pension age.
      </p>
      
      
      <div>
      <a href="/pension_age_start" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">State Pension age calc</a>
      </div>
      
        </div>
    </div>
    <div class="example2">
        <div class="grid-row">
    
    <h2 class="govuk-heading-m">Contact the Pension Service</h2>
    

    
    <p>
      Split the content into the main reasons why users may need to contact us - Claims, Changes etc
    </p>
    
    
   
    <a href="/contact_pension_service" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Contact Pension Service</a>
    
    
      </div>
  </div>
</div>

{% endblock %}
