
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
       Retirement content prototypes2
       
      </h1>

      <div class="example2">
          <div class="grid-row">
      
      <h2 class="govuk-heading-m">Service lists</h2>
      
  
      <p><span class="app-c-tag app-c-tag--danger">Experimental</span>
      </p>
      <p>
     New way to present DWP services around "getting support". Retirement services grouped into "Planning for your retirement" and "Get the State Pension and other support in retirement"
  
    </p>
     <a href="/service_list/retirement_pension_browse1" class="govuk-button on govuk-!-margin-top-2 govuk-!-margin-bottom-8">Using existing GOV.UK navigation</a>
     <br> <a href="/service_list2/retirement_pension_browse1" class="govuk-button on govuk-!-margin-top-2 govuk-!-margin-bottom-8">Simplified navigation</a>
     <br> <a href="/service_list3/retirement_pension_browse1" class="govuk-button on govuk-!-margin-top-2 govuk-!-margin-bottom-8">Simplified navigation with explanatory text</a>
    
        </div>
    </div>

      <div class="example2">
        <div class="grid-row">
    
    <h2 class="govuk-heading-m">Eligibility Checker</h2>
    

    <p><span class="app-c-tag app-c-tag--danger">Experimental</span>
    </p>
    <p>
     Joined up eligibility checker to show users what they could get in retirement. Shows user's entire "retirement eligibility." Also allows users over State Pension age to claim support based on their circumstances and the information we hold on them. </p>
     <p>For:</p>

     <ul class="govuk-list govuk-list--bullet">
    <li>For post-State Pension age input date of birth - 1950</li>
    <li>For pre-State Pension age leave date of birth empty </li>
    </ul>
   <a href="/eligibility4/pension_age_start" class="govuk-button on govuk-!-margin-top-2 govuk-!-margin-bottom-8">Eligibility checker content filter</a><br>
   
   <a href="/eligibility2/pension_age_start" class="govuk-button on govuk-!-margin-top-2 govuk-!-margin-bottom-8">Eligibility checker future vision</a>
      </div>
  </div>
  <div class="example2">
    <div class="grid-row">

<h2 class="govuk-heading-m">Join up applications</h2>


<p><span class="app-c-tag app-c-tag--danger">Experimental</span>
</p>
<p>
 Joined up application from Get your State Pension complete page to apply for Pension Credit and Bus Pass. </p>



<a href="get_complete" class="govuk-button on govuk-!-margin-top-2 govuk-!-margin-bottom-8">Get complete page</a>

  </div>
  </div>
      <div class="example2">
        <div class="grid-row">
    
    <h2 class="govuk-heading-m">State Pension browse</h2>
    

    <p><span class="app-c-tag app-c-tag--ready">Ticket raised with GDS</span>
    </p>
    <p>
     Split the State Pension topic into tasks around what users are trying to do - how much you'll get, claiming, reporting a change etc.
    </p>
    
    
   
    <a href="/state_pension_browse" class="govuk-button on govuk-!-margin-top-2 govuk-!-margin-bottom-8">State Pension browse</a>
    
    
      </div>
  </div>
  <div class="example2">
    <div class="grid-row">

<h2 class="govuk-heading-m">Check your State Pension age version 2</h2>

<p><span class="app-c-tag">Needs more design</span>
</p>


<p>
  Asking more eligibility questions to give users an indication of their entitlement for Winter Fuel and Pension Credit.
</p>


<div>
<a href="/eligibility/pension_age_start" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">State Pension age calc pre SPa</a>
</div>

  </div>
</div>
      <div class="example2">
          <div class="grid-row">
      
      <h2 class="govuk-heading-m">Check your State Pension age version 1</h2>
      
      <p><span class="app-c-tag">Needs more design</span>
      </p>
      
      
      <p>
        Simplified the State Pension age calculator to only ask for the information we need. Help to make users aware of what else they're entitled to at State Pension age.
      </p><p>For:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>post-State Pension age input date of birth before 1953</li>
      <li>recently post-State Pension age input date of birth 1954</li>
      <li>near State Pension age input date of birth 1956</li>
      <li>pre-State Pension age input date of birth between 1961 and 1987</li>
      <li>a young person pre-State Pension age input date of birth after 1988 </li>
    </ul>
      
      
      
  
      
      <div>
      <a href="/pension_age_start" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">State Pension age calculator</a>
      </div>
      <div>
     </div>
     </div>
    </div>
    <div class="example2">
        <div class="grid-row">
    
    <h2 class="govuk-heading-m">Contact the Pension Service</h2>
    
    <p><span class="app-c-tag app-c-tag--ready">Change made on GOV.UK</span>
    </p>
    
    <p>
      Split the content into the main reasons why users may need to contact us - Claims, Changes etc
    </p>
    
    
   
    <a href="/contact_pension_service" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Contact Pension Service</a>
    
    
      </div>
  </div>

  <div class="example2">
    <div class="grid-row">

<h2 class="govuk-heading-m">New State Pension</h2>

<p><span class="app-c-tag">Needs more design</span>
</p>

<p>
 Simplify eligibility criteria. Remove options for multiple channels on "How to claim" and "How to claim a deferred pension". Promote Check your State Pension on "What you'll get."
</p>



<a href="/nsp/nsp_overview" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">New State Pension</a><br>
<a href="/nsp/deferring_state_pension" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">How to claim deferred State Pension</a>

  </div>
</div>
<div class="example2">
  <div class="grid-row">

<h2 class="govuk-heading-m">Get your State Pension</h2>


<p><span class="app-c-tag app-c-tag--ready">Ready to raise ticket</span>
</p>
<p>
Simplify page. Make it clear how to apply online and what the other channels are if you're unable to apply.

</p>

<a href="/get_start" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Get your State Pension</a>


</div>
</div>
  <div class="example2">
    <div class="grid-row">

<h2 class="govuk-heading-m">Check your State Pension forecast</h2>



<p><span class="app-c-tag">Needs design</span>
</p>

<p>
  Simplify page. Make it clear that the service is a forecast for users before they reach State Pension age.
  Remove contradictory message about the service can't be used if you reach State Pension age in more than 30 days.

 </p>

<a href="/check_start" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Check your State Pension forecast</a>


  </div>
</div>
<div class="example2">
  <div class="grid-row">

<h2 class="govuk-heading-m">Contact the Future Pension Centre</h2>



<p><span class="app-c-tag">Needs more design</span>
</p>

<p>
  Make it clearer that Futures help users with forecasts and remove messaging that they can answer general enquires about the State Pension  

 </p>


<a href="/contact_futures" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Contact the Future Pension Centre</a>


</div>
</div>
</div>

{% endblock %}
