
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
       Retirement content prototypes
       
      </h1>
      <div class="example2">
        <div class="grid-row">
    
    <h2 class="govuk-heading-m">State Pension browse</h2>
    

    
    <p>
     Split the State Pension topic into tasks - how much you'll get, claiming etc.
    </p>
    
    
   
    <a href="/state_pension_browse" class="govuk-butt on govuk-!-margin-top-2 govuk-!-margin-bottom-8">State Pension browse</a>
    
    
      </div>
  </div>
      <div class="example2">
          <div class="grid-row">
      
      <h2 class="govuk-heading-m">Check your State Pension age</h2>
      

      
      <p>
        Simplified the State Pension age calculator to only ask for the information we need. Help to make users aware of what else they're entitled to at State Pension age.
      </p>
      
      
      <div>
      <a href="/pension_age_start" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">State Pension age calc</a>
      </div>
      <p><a href="pension_age_answer3.html">User within X months of State Pension age</a></p>
      <p><a href="pension_age_answer_alt.html">User reached State Pension age</a></p>
        </div>
    </div>
    <div class="example2">
        <div class="grid-row">
    
    <h2 class="govuk-heading-m">Contact the Pension Service</h2>
    

    
    <p>
      Split the content into the main reasons why users may need to contact us - Claims, Changes etc
    </p>
    
    
   
    <a href="/contact_pension_service" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Contact Pension Service</a>
    
    
      </div>
  </div>
  <div class="example2">
    <div class="grid-row">

<h2 class="govuk-heading-m">Check your State Pension forecast</h2>



<p>
  
</p>



<a href="/check_start" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Check your State Pension forecast</a>


  </div>
</div>
<div class="example2">
  <div class="grid-row">

<h2 class="govuk-heading-m">Contact the Future Pension Centre</h2>



<p>

</p>



<a href="/contact_futures" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Contact the Future Pension Centre</a>


</div>
</div>
</div>

{% endblock %}
