{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% set serviceName %}
  Check your State Pension age
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="pension_age_dob_post">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
      <form class="form" action="pension_age_answer_alt" method="post">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      <h1 class="govuk-heading-xl">
                        Are you a man or a woman?
                      </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--inline">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="over-18-yes" name="over-18" type="radio" value="true">
                        <label class="govuk-label govuk-radios__label" for="over-18-yes">
                          Man
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="over18-no" name="over-18" type="radio" value="false">
                        <label class="govuk-label govuk-radios__label" for="over-18-no">
                          Woman
                        </label>
                      </div>
                    </div>
                    </fieldset>
                  </div>
                  <p>   </p>
                  <button class="govuk-button">Continue</button>
          
                </form>
    </div>
  </div>

{% endblock %}
