{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% set serviceName %}
  Check your State Pension age
{% endset%}
{% block beforeContent %}
  <a class="govuk-back-link" href="pension_age_dob">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
      <h1 class="govuk-heading-xl">
   When you can get your State Pension
      </h1>
      <p>The earliest you can get your State Pension is <b>6 May 2032</b>, when you're <b>65 years and 3 months</b>.</p>
      
      <h2 class="govuk-heading-l">What happens next</h2>
      
      <p>You will get a letter up to 2 months before this date telling you how to claim your State Pension.</p>
      
      
      
      
      
      <p>You can also <a href="/url/of/onward/page">check your State Pension</a> to find out how much you could get.</p>
      
      
      
      
      
        <h2 class="govuk-heading-l">Other age-related support</h2>
        <p>When you reach State Pension age, you may also be eligible for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="">Winter Fuel Payments</a> - you'll get these automatically if you're getting State Pension</li>
          <li><a href="">a bus pass</a> - you can apply to your local council for free travel</li>
          <li><a href="">Pension Credit</a> - if you're on a low income, you may be able to get this</li>
        </ul>
   


    </div>
  </div>

{% endblock %}
