{% extends "layout.html" %}

{% block pageTitle %}
  Within 4 months
{% endblock %}
{% set serviceName %}
  Check your State Pension age
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="pension_age_dob">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <!--This page is if a user is within 4 months of their SP date-->

        <h1 class="govuk-heading-xl">
            When you can get your State Pension
          </h1>
          <p class="govuk-body-l">You'll reach State Pension age on <b>6 December 2019</b>.</p> 
          <p class="govuk-body-l">On this date you'll be <b>66 years and 3 months</b> old.</p>
          
          <h2 class="govuk-heading-l">What happens next</h2>
          
          <p>We'll send you a letter soon telling you how to claim your State Pension and when you'll get your first payment. When you get it you can:</p> 
            
              <ul class="govuk-list govuk-list--bullet">
                  <li>make a claim to <a href="https://www.gov.uk/get-state-pension">get your State Pension</a></li>
                  <li><a href="https://www.gov.uk/deferring-state-pension">delay getting your State Pension</a> - you may get more 
                    State Pension when you come to claim it</li>
              
              </ul>
             
          </p>
  
          
          <p>You can also <a href="check_start">check your State Pension forecast</a> to find 
            out how much you could get.</p>
        
            <h2 class="govuk-heading-l">What else you could get</h2>
            <p>When you reach State Pension age, you may also be eligible for:</p>
            {% include "includes/spa-calc-links.html" %}


   


    </div>
  </div>

{% endblock %}
