{% extends "layout.html" %}

{% block pageTitle %}
  Passed SP date
{% endblock %}
{% set serviceName %}
  Check your State Pension age
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="pension_age_sex">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <!--This page is if a user has passed their SP date-->

      <h1 class="govuk-heading-xl">
   You can get your State Pension now
      </h1>
      <p class="govuk-body-l">You reached State Pension age on <strong>6 November 2015</strong>, when you turned <strong>66</strong>.</p>

      <h2 class="govuk-heading-l">What to do next</h2>
      
      <p>Because you have reached State Pension age, you can <a href="contact_pension_service">contact the Pension Service</a> to claim your State Pension</a>.
        
      

      <h2 class="govuk-heading-l">What else you could get</h2>
      <p>Because you have reached State Pension age you may also be eligible for:</p>
      {% include "includes/spa-calc-links.html" %}

   


    </div>
  </div>

{% endblock %}
