  {% extends "layout.html" %}

{% block pageTitle %}
  How to Claim - The new State Pension
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">State Pension</a>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        The new State Pension
      </h1>
      <aside class="part-navigation-container" role="complementary">
            <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
        <h2 class="gem-c-contents-list__title">Contents</h2>
  
      <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                    <a class="gem-c-contents-list__link" href="nsp_overview">Eligibility</a>
                  </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link"  href="nsp_what_youll_get">What you'll get</a>
          </li>
          
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
            <a class="gem-c-contents-list__link">How to claim</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link" href="#overseas">How it's calculated</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                    <a class="gem-c-contents-list__link" href="#complain">You've been in a workplace, personal or stakeholder pension</a>
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                    <a class="gem-c-contents-list__link" href="#complain">Your National Insurance record and your State Pension</a>
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                    <a class="gem-c-contents-list__link" href="#complain">Inheriting or increasing State Pension from a spouse or civil partner
                    </a>
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                    <a class="gem-c-contents-list__link" href="#complain">Living and working overseas
                    </a>
                  </li>
      </ol>
      </ol>
    </nav>
  
        </aside>
    
      
   

      

    </div>

    <div class="govuk-grid-column-one-third">

     
  </div>
  <div class="govuk-grid-column-two-thirds">
    
    <h2 class="govuk-heading-m">How to claim</h2>
     <p>You'll not get your State Pension automatically - you have to claim it. You should get a letter no later than 2 months before you reach <a href="/pension_age_start">State Pension age</a> telling you what to do.</p>
      <p>If you have not received an invitation letter, but you are within 4 months of reaching your State Pension age you can still make a claim.</p>
      
      <p>The quickest way to claim is to <a href="">get your State Pension online</a>. 
      
        
        <p>If you can't claim online you can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://gov.uk/new-state-pension/your-national-insurance-record-and-your-state-pension">claim by phone</a>
        </li>
        <li>download the <a href="https://gov.uk/national-insurance-credits/eligibility">State Pension claim form</a> and send it to you <a href="">local pension centre</a></li>
        </ul>
        <p>How you claim is different if you claim from:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://gov.uk/new-state-pension/your-national-insurance-record-and-your-state-pension">abroad</a>, including the Channel Island and Isle of Man
            </li>
            <li><a href="https://gov.uk/national-insurance-credits/eligibility">Northen Ireland</a></li>
            </ul>
    
        
      <h2 class="govuk-heading-m">If you want to keep working</h2>
     <p>You can claim your State Pension even if you carry on working, or you can <a href="">choose to delay your State Pension</a>, which could increase how much you get.</p>
     <h2 class="govuk-heading-m">Claiming an Isle of Man pension</h2>
     <p>If you’re eligible for a state pension from the Isle of Man, you’ll need to claim it separately from your UK State Pension.</p>
      <p> Find out <a href="https://www.gov.im/categories/benefits-and-financial-support/social-security-benefits/retirement-pension">if you’re eligible and how to claim your Isle of Man pension</a>. </p>
     
     <p>You’ll get one payment for your UK State Pension and a separate payment for your Isle of Man pension.</p>
    <div class="pagination">
     <a href="/what_youll_get" class="gem-c-pagination__link" rel="prev">
        <span class="gem-c-pagination__link-title">
          <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="gem-c-pagination__link-text">
            Previous
          </span>
        </span>
          <span class="gem-c-pagination__link-divider visually-hidden">:</span>
          <span class="gem-c-pagination__link-label">Eligibility</span>
      </a>

    </div>
    <div class="pagination">
        <a href="/calculated" class="gem-c-pagination__link" rel="next">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">How it's calculated</span>
        </a>
    </div>
        
                          </div>
                <div class="govuk-grid-column-one-third">
                    {% include "includes/nsp_related_links.html" %}
    </div>

    </div>
    {% include "includes/sp_topic.html" %}
{% endblock %}
